body {
  margin: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  font-size: inherit;
  background-color: #023e8a;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2em;
  color: white;
}

.btn:hover,
.btn:focus {
  background-color: #03045e;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.grid-computer > .taken {
  background-color: hsl(200, 100%, 50%);
  border-radius: 0 !important;
}

.grid-display {
  display: flex;
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.game-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}

.taken,
.ship {
  background-color: hsl(0, 0%, 80%);
}
.destroyer-container {
  --width: 2;
}

.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}

.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.boom {
  background-color: red !important;
}

.miss {
  background-color: blue;
}
